<template>
    <div>
        <ControlPanel @start='subscribe' @stop='unsubscribe' @reset='reset'/>
        <h3>Sum: {{sum}}</h3>
        <Table :transactions='transactions'/>
    </div>
</template>

<script>
    import BitcoinSocket from 'services/bitcoin/BitcoinSocket.js'
    import ControlPanel from 'components/bitcoin/ControlPanel.vue'
    import Table from 'components/bitcoin/table/Table.vue'
    export default {
        name: 'Bitcoin',
        components: {Table, ControlPanel},
        created() {
            const transactionHandler = transaction => {
                if (transaction.from && transaction.to && transaction.sum) {
                    this.transactions.push(transaction)
                    this.sum += transaction.sum
                }
            }
            BitcoinSocket.onmessage(transactionHandler)
        },
        methods: {
            unsubscribe() {
                BitcoinSocket.unSubscribe()
            },
            subscribe() {
                BitcoinSocket.initialSubscribe()
            },
            reset() {
                this.transactions = []
                this.sum = 0
            },
        },
        data() {
            return {
                transactions: [],
                sum: 0
            }
        }
    }
</script>

<style scoped>
    h3 {
        text-align: center;
    }
</style>