<template>
    <div>
        <button @click="$emit('start')">Запуск</button>
        <button @click="$emit('stop')">Остановка</button>
        <button @click="$emit('reset')">Сброс</button>
    </div>
</template>

<script>
    export default {
        name: 'ControlPanel'
    }
</script>

<style scoped>
    div {
        display: flex;
        text-align: center;
        margin: 5px auto;
        width: 60%;
    }
    button {
        width: 100px;
        margin: auto;
    }
    button:nth-child(1) {
        background-color: green;
    }
    button:nth-child(2) {
        background-color: red;
    }
    button:nth-child(3) {
        background-color: orange;
    }
</style>