<template>
    <div>
        <nav>
            <router-link to='/desktop'>Desktop</router-link>
            <router-link to='/bitcoin'>Bitcoin</router-link>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'Navigation'
    }
</script>

<style scoped>
    div {
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }
    a {
        margin: 40px;
    }
</style>