<template>
    <thead>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Sum</th>
    </tr>
    </thead>
</template>

<script>
    export default {
        name: 'TableHeader',
    }
</script>