<template>
    <div>
        <table>
            <TableHeader/>
            <tr v-for='transaction in transactions' :key='transaction.from + transaction.to'>
                <td>{{transaction.from}}</td>
                <td>{{transaction.to}}</td>
                <td>{{transaction.sum}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import TableHeader from 'components/bitcoin/table/TableHeader.vue'
    export default {
        components: {TableHeader},
        name: 'Table',
        props: {
            transactions: Array,
        }
    }
</script>

<style scoped>
    table {
        text-align: center;
        margin: 5px auto;
        width: 60%;
        border-collapse: collapse;
    }

    thead, th, td {
        height: 80px;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>