<template>
    <draggable v-model='blocks'>
        <Tile v-for="block in blocks" :block='block' :key='block.id'/>
    </draggable>
</template>

<script>
    import draggable from 'vuedraggable'
    import Tile from 'components/desktop/Tile.vue'
    import BlocksService from 'services/desktop/BlocksService.js'

    export default {
        name: 'Desktop',
        created() {
            BlocksService.loadDefaultBlocksIfNeeded()
            this.blocks = BlocksService.getBlocks()
        },
        components: {
            draggable,
            Tile
        },
        data() {
            return {
                blocks: []
            }
        },
        watch: {
            blocks: {
                handler: (newValue) => BlocksService.saveBlocks(newValue),
                deep: true
            }
        }
    }
</script>