<template>
    <div class='resize' ref='main' :style="{ height: block.height + 'px' }">
        <button @click='block.isActive=false' v-if='block.isActive'>-</button>
        <span v-if='block.isActive'>
            <h5>Tile {{block.id}} Height: {{block.height}}</h5>
            <hr>
        </span>
        <a v-else @click='block.isActive=true'>+ Return tile to trading desk</a>
    </div>
</template>

<script>
    export default {
        name: 'Tile',
        props: {
            block: Object
        },
        mounted() {
            this.$refs.main.getBoundingClientRect()
            const mutationHandler = mutationList => {
                for (let mutation of mutationList) {
                    if (mutation.type === 'attributes') {
                        const height = mutation.target.getBoundingClientRect().height
                        this.block.height = height
                        this.height = height
                    }
                }
            }
            const mutationObserver = new MutationObserver(mutationHandler)
            mutationObserver.observe(this.$refs.main, {attributes: true})
        },
    }
</script>

<style scoped>
    div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        resize: vertical;
        overflow: scroll;
        background-color: white;
        text-align: center;
        margin: 5px auto;
        width: 60%;
        border: solid black;
    }
    button {
        float: left;
        margin: 1px;
    }
    a {
        position: relative;
        text-decoration: underline;
        top: 50%;
    }
</style>